session {
    color: brown;
    border-radius: 10px;
    font-family: 'Times New Roman', Times, serif;

}


form {
    border-radius: 10px;

}

body {
    background-color: whitesmoke;

    /* background-image: url('https://images.unsplash.com/photo-1597332503885-fc8d195a99b2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8N3x8YmxhY2slMjBhbmQlMjBibHVlJTIwYmFja2dyb3VuZHxlbnwwfHwwfHw%3D&w=1000&q=80'); */
    background-repeat: no-repeat;
    background-size: cover;

    opacity: 2vh;

}


.adjust {

    display: flex;
    justify-content: center;
    margin-top: 3cm;


}

/* 
.row {
    font-family: 'Times New Roman', Times, serif;
    width: 200;
}
 */


.quote {
    /* border: solid; */
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 5cm;
    font-family: 'Times New Roman', Times, serif;
    color: black;
    width: 50%;
    align-items: center;
    margin-left: 10cm;


    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(12.5px);
    -webkit-backdrop-filter: blur(12.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);

}


.row {
    background-color: aquamarine;

    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(17px);
    -webkit-backdrop-filter: blur(27px);
    border-radius: 10px;
    border: 3px solid rgba(255, 255, 255, 0.18);

}


/* .glass{

    background-color: brown;
} */


.container {

    margin-top: 3cm;

}


.card {


    background-color: #86A3C3;

}



.quote {


    background-color: aquamarine;
    display: flex;
    justify-content: center;




}



.row-1{

background-color: aquamarine;

display: flex;
justify-content: center;
align-items: center;

margin-top: 3cm;
width: 70%;
margin-left: 3cm;
box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
backdrop-filter: blur(17px);
-webkit-backdrop-filter: blur(27px);
border-radius: 10px;
border: 3px solid rgba(255, 255, 255, 0.18);

}

